---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogpostLayout from "../layouts/BlogpostLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug }, //dynamic render content
        props: post,
    }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props; //get post from getStaticPaths()
const { Content, headings } = await post.render();
const validHeadings = headings.filter(
    (heading) => heading.depth === 2 || heading.depth === 3,
);
---

<BaseLayout
    pageTitle={post.data.title}
    homePage={false}
    pubDate={post.data.pubDate}
>
    <BlogpostLayout description={post.data.description}>
        <div class="blog_content__wrapper">
            {
                validHeadings.length > 0 && (
                    <nav class="sidebar sticky-active">
                        <small>
                            Table of Contents{" "}
                            <button id="toggleTocBtn">hide</button>
                        </small>
                        <ul class="sidebar__list">
                            {validHeadings.map((heading) => (
                                <li
                                    class={`list__item--depth-${heading.depth}`}
                                >
                                    <a
                                        href={`#${heading.slug}`}
                                        class="item__link"
                                    >
                                        {heading.text}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </nav>
                )
            }
            <div class="content">
                <Content />
            </div>
        </div>
        <style>
            .blog_content__wrapper {
                display: flex;
                gap: var(--s-m);
                flex-wrap: wrap;
                align-items: flex-start;
                margin-top: var(--s-m);

                @media screen and (min-width: 1100px) {
                    flex-wrap: nowrap;
                }
            }
            small {
                font-size: 1.2rem;
                font-weight: bold;
                color: var(--color-dark);
            }

            .sidebar {
                border-left: var(--fluid-border-width) solid var(--color-primary);
                padding-left: var(--s-0);
                flex-shrink: 0;
                top: var(--s-m); /* don't stick at top*/
                width: calc(100% - 3rem);
                position: static;
            }

            @media screen and (min-width: 1100px) {
                .sidebar {
                    border: none;
                    padding-left: 0;
                }
                .sidebar.sticky-active {
                    position: sticky;
                    max-width: 250px;
                    border: none;
                    border-right: var(--fluid-border-width) solid var(--color-primary);
                }
            }
            .sidebar__list {
                font-size: var(--fs-0);
                padding-inline: 0;
                list-style: none;
                color: var(--color-primary);
            }
            .item__link {
                text-decoration: none;
            }
            .list__item--depth-2 {
                padding-top: 0.4rem;
            }
            .list__item--depth-3 {
                padding-left: 0.5rem;
                list-style-type: disc;
                list-style-position: inside;
            }
            .content {
                margin-bottom: 8rem;
            }
        </style>
        <script>
            const $wrapper = document.querySelector(
                ".blog_content__wrapper",
            ) as HTMLElement;
            const $sideBar = document.querySelector(".sidebar") as HTMLElement;
            const $sideBarList = $sideBar.querySelector(
                ".sidebar__list",
            ) as HTMLElement;
            const $toggleTocBtn = document.getElementById(
                "toggleTocBtn",
            ) as HTMLButtonElement;

            const init = () => {
                $toggleTocBtn.addEventListener("click", toggleToc);
            };
            const toggleToc = () => {
                if ($sideBarList.style.display === "none") {
                    $toggleTocBtn.textContent = "hide";
                    $sideBarList.style.display = "block";
                    $wrapper.style.flexDirection = "row";
                    $sideBar.classList.add("sticky-active");
                } else {
                    $toggleTocBtn.textContent = "show";
                    $sideBarList.style.display = "none";
                    $wrapper.style.flexDirection = "column";
                    $sideBar.classList.remove("sticky-active");
                }
            };
            init();
        </script>
    </BlogpostLayout>
</BaseLayout>
