---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Exploring 3D Fractals";

const allBlogPosts = await getCollection("blog");
---

<style>
	a {
		color: var(--color-text);
	}
	a:hover {
		color: var(--color-primary);
	}
</style>
<BaseLayout pageTitle={pageTitle} homePage={true}>
	<h2>My fractal journey</h2>
	<ul>
		{
			allBlogPosts.map((blogpost) => (
				<li>
					<a href={`${blogpost.slug}/`}>
						{blogpost.data.title} -{" "}
						{blogpost.data.pubDate}
					</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
